@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/* p{
    background-color: blueviolet;
}
.opposite{
display:inline-block;
   background-color: brown;
   color: aliceblue; 
} */
nav{
    margin-top: 20px;
}
ul{
    list-style-type: none;
    padding: 1rem;
    text-align: right;
    margin:0;
    background-color: black;
}
li{
    display: inline-block;
    margin-inline: 0.3rem;
    margin-bottom: 9px;
}
li a{
     text-decoration: none;
     color:black;
     font-weight: bold;
     font-size: 20px;
     border-radius: 9px;
     padding: 5px 10px 5px 10px;
     background-color: rgb(255, 242, 2);
}
li a:hover, li a:focus{
    color:white;
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
    font-weight: 900;
}
li a:active{
    color:black;
    background-color: rgb(255, 242, 2);
}